
.home_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .img_div {
        img {
            height: 500px;
            width: 500px;
        }
    }

    .text_div {
        margin-left: 2rem;
        display: block;
        font-size: 2rem;
        h1 {
            span {
                color: #ffd700;
            }
        }
        h2 {
            position: fixed;
            color: #ffd700;
        }

        margin-bottom: 5rem;
    }
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 3rem;
    background-color: white;
    margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
  .input-cursor { 
  animation: blink .6s linear infinite alternate;
}

@media screen and (max-width: 768px) {
    .home_container {
        display: flex;
        justify-content: center;
        align-items: center;
        .text_div {
            font-size: 1.3rem;
        }
        .img_div {
            img {
                display: none;
            }
        }
    }
}