
.home_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .img_div {
        img {
            height: 500px;
            width: 500px;
        }
    }

    .text_div {
        margin-left: 2rem;
        display: block;
        font-size: 2rem;
        h1 {
            span {
                color: #ffd700;
            }
        }
        h2 {
            color: #ffd700;
        }

        margin-bottom: 5rem;
    }
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 3rem;
    background-color: white;
    margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
  .input-cursor { 
  animation: blink .6s linear infinite alternate;
}

@media screen and (max-width: 768px) {
    .home_container {
        display: flex;
        justify-content: center;
        align-items: center;
        .text_div {
            font-size: 1.3rem;
        }
        .img_div {
            img {
                display: none;
            }
        }
    }

    .introduction {
       .text_container {
            text-align: right;
            font-size: 1rem;
       }
        
        .me_container {
            img {
                display: none;
            }
        }
    }
}

.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .text_container {
        margin: 5rem 2rem 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;

        p {
            font-size: 1.8rem;
        }
        span {
            color: #ffd700;
        }
    }

    .me_container {
        img {
            height: 400px;
            width: 400px;
        }
        margin: auto 2rem auto 2rem;
    }
}

.reach_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text {
        font-size: 1.8rem;
        margin-bottom: 2rem;

        span {
            color: #ffd700;
        }
    }

    .social_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
        }
        .icons {
            margin: 0 1rem 4rem 1rem;
            height: 50px;
            width: 50px;
        }
    }
}